<!DOCTYPE html>
<html>
<head>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!-- <meta charset="UTF-8"> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script>
	$(document).ready(function(){
	    if (navigator.userAgent.search("MSIE") >= 0) {
            $('#Browser').val("Browser is InternetExplorer");
        }
        //Check if browser is Chrome or not
        else if (navigator.userAgent.search("Chrome") >= 0) {
            $('#Browser').val("Browser is Chrome");
        }
        //Check if browser is Firefox or not
        else if (navigator.userAgent.search("Firefox") >= 0) {
            $('#Browser').val("Browser is FireFox");
        }
        //Check if browser is Safari or not
        else if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
            $('#Browser').val("Browser is Safari");
        }
        //Check if browser is Opera or not
        else if (navigator.userAgent.search("Opera") >= 0) {
            $('#Browser').val("Browser is Opera");
        }
        $('#WindowWidth').val($(window).width());
        $('#WindowHeight').val($(window).height());


	function checkPassword(str)
	{
	   var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
	   return re.test(str);
	}

	$("#address").click(function(){
		$('#paddress').val($('#caddress').val());
		$("#paddress").attr("disabled", "disabled"); 
	})

	$("#form").submit(function(){
    	if(form.password.value == form.cpassword.value) {
	     	if(!checkPassword(form.password.value)) {
	        alert("The password you have entered is not valid!, Your Password must be of Minimum 6 characters, Capital letter, small letter, special character");
	        form.password.focus();
	        return false;
	        }
	    	else{
	    		alert("All Validations true");
	    	}
    	} else {
      	alert("Confirm Password should be same as Password");
      	form.password.focus();
      	return false;
    	}
    	return true;
    });

    $("#urltoiframe").click(function(e){
    	e.preventDefault();
    	var url = $("#url").val();
    	$("#iframe").attr('src', url);
    });

		
	})


</script>
<style type="text/css">
	#button1{
		background-color: #f44336;
		border: none;
		padding: 14px 40px;
	}
	.required:after {
	   	padding-right: 25px;
		background-image: url(...);
		background-position: right top; 
		content:" *";
		color: red;
	}
	h3{
		color: pink;
	}
</style>
</head>
<body>
	<div align="center">
		<h3>Your Browser Information</h3>
		<div class="row">
			<div class="col">
			</div>
			<div class="col">
			</div>
		    <div class="col">
		    	<label for="Browser" >Browser</label>
		    	<input type="text" id="Browser" disabled="disabled">
		    </div>
		    <div class="col">
		    	<label for="WindowWidth" >Width</label>
		    	<input type="text" id="WindowWidth" disabled="disabled">
		    </div>
		    <div class="col">
		    	<label for="WindowHeight" >Height</label>
		    	<input type="text" id="WindowHeight" disabled="disabled">
			</div>
			<div class="col">
			</div>
			<div class="col">
			</div>
		</div>
	</div>

	<form id="form">
	<section>
		<div class="form-group row">
		    <div class="col">
		    	<label for="firstname" class="required">First Name</label>
		      	<input type="text" class="form-control" id="firstname" placeholder="First name" required pattern="[a-zA-Z]{1,}" title="Only Alphabets" required>
		    </div>
		    <div class="col">
		    	<label for="middlename">Middle Name</label>
		      	<input type="text" class="form-control" id="middlename" placeholder="Middle name" pattern="[a-zA-Z]{1,}" title="Only Alphabets">
		    </div>
		    <div class="col">
		    	<label for="lastname">Last Name</label>
		      	<input type="text" class="form-control" id="lastname" placeholder="Last name" pattern="[a-zA-Z]{1,}" title="Only Alphabets">
		    </div>
		    <div class="col">
		    </div>
		</div>
		<br>
		<div class="form-group row">
		    <div class="col">
		    	<label for="email" class="required">Email Address</label>
		    	<input type="email" class="form-control" id="email" placeholder="Enter Your Email" required>
		    </div>
		    <div class="col">
		    </div>
		    <div class="col">
		    </div>
		    <div class="col">
		    </div>
		</div>
		<div class="form-group row">
		    <div class="col">
		    	<label for="password" class="required">Password</label>
		    	<input type="password" class="form-control" id="password" placeholder="Enter Your Password" required>
		    </div>
		    <div class="col">
		       	<label for="cpassword" class="required">Confirm Password</label>
		    	<input type="password" class="form-control" id="cpassword" placeholder="Retype Your Password" required>
		    </div>
		    <div class="col">
		    </div>
		    <div class="col">
		    </div>
		</div>
		</section>

		<section>
		<div class="form-group row">
			<div class="col">
		       	<label for="caddress"> Current Address</label>
				<textarea rows="4" cols="50" id="caddress" required placeholder="Enter Current Address"></textarea>
		    </div>
		    <div class="col">
		       	<label for="paddress"> Permanent Address</label> <input type="checkbox" id="address">same as Current Address
				<textarea rows="4" cols="50" id="paddress" required placeholder="Enter Current Address"></textarea>
			</div>
		    <div class="col">
		    	
		    </div>
		</div>
		</section>
		<div class="form-group row">
			<div class="col">
		       	
		    </div>
		    <div class="col">
		       	<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		    <div class="col">
		    	
		    </div>
		</div>
		
	</form>


	<h3>Iframe</h3>
	<p><iframe id="iframe" src="http://www.youtube.com/embed/Q5im0Ssyyus""></iframe></p>
	<p>
	<input type="url" id="url">
	<button id="urltoiframe"> Enter Url n click</button>
	<!-- <p><a href="http://www.youtube.com/embed/Q5im0Ssyyus" class="myButtons">Charlie 1</a></p> -->
	</p>

</body>
</html>